<body>
    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>
    <a href="https://cfr.gov.mt/en/rates/Pages/TaxRates/Tax-Rates-2022.aspx" target="_blank" rel="noopener noreferrer" class="icon-block">
        <img id="source-icon" src="https://raw.githubusercontent.com/cgauci87/taxcalc/ba95e649b410e7bf3a2c1443e467e2a37695bd49/assets/images/source_icon.svg" alt="Salary info source">
    </a>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>